/* ---- 变量化主题色 ---- */
:root {
  color: #0f0f0f;
  background-color: #f6f6f6;
}

/* ---- 全局重置 ---- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strip {
  display: flex;
  transform: scale(var(--scale));
  transform-origin: center center;
}

.strip img {
  height: 100%;
  width: auto;
  display: block;
}

.loading-gif {
  image-rendering: pixelated;
  height: 297px !important;
  width: 210px !important;
  object-fit: none;
  background: white;
}
