/* ---- 变量化主题色 ---- */
:root {
  color: #0f0f0f;
  background-color: #f6f6f6;
}

/* ---- 全局重置 ---- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

.multi-viewer {
  --mv-h: max(100vh - var(--bar-h), 0px);
  width: 100vw;
  height: var(--mv-h);
  display: flex;
  align-items: center;
  justify-content: center;
}

.strip {
  --h: 297px;
  height: var(--h);
  width: var(--w);
  --scale: min(100vw / var(--w), var(--mv-h) / var(--h));
  display: flex;
  transform: scale(var(--scale));
  transform-origin: center center;
}

.strip img {
  height: 100%;
  width: auto;
  display: block;
}

.loading-gif {
  image-rendering: pixelated;
  height: 297px !important;
  width: 210px !important;
  object-fit: none;
  background: white;
}

.loading-bar {
  bottom: 0;
  width: 100vw;
  image-rendering: pixelated;
  position: fixed;
  cursor: pointer;
}

.counter-display {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 80%;
}
